<div class="iq-card">
    <div class="iq-card-header d-flex justify-content-between">
        <div class="iq-header-title">
            <h4 class="card-title">Add Service User</h4>
        </div>
    </div>
    <div class="iq-card-body">
        <p>Enter new service user details...</p>
        <form class="form-horizontal" action="https://iqonic.design/action_page.php">
            <div class="form-group row">
                <label class="control-label col-sm-2 align-self-center mb-0" for="exampleFormControlSelect1">Type:</label>
                <div class="col-sm-5">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option selected="" disabled="">Select your type</option>
                        <option>Day Care</option>
                        <option>Full Time Resident</option>
                        <option>Home Care</option>
                        <option>Respite Resident</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2 align-self-center mb-0" for="exampleFormControlSelect1">Title:</label>
                <div class="col-sm-3">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option selected="" disabled="">Select your title</option>
                        <option>Miss</option>
                        <option>Mrs</option>
                        <option>Mr</option>
                        <option>Dr</option>
                        <option>Lady</option>
                        <option>Sir</option>
                        <option>Ms</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2 align-self-center mb-0" for="pwd1">Forename:</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="pwd1" placeholder="Enter Your Forename">
                </div>
            </div>  
            <div class="form-group row">
                <label class="control-label col-sm-2 align-self-center mb-0" for="pwd1">Surname:</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="pwd1" placeholder="Enter Your Surname">
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2 align-self-center mb-0" for="exampleFormControlSelect1">Gender:</label>
                <div class="col-sm-3">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option selected="" disabled="">Select your gender</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2 align-self-center mb-0" for="exampleInputdate">DOB:</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" id="exampleInputdate" value="2019-12-18">
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2 align-self-center mb-0" for="exampleFormControlSelect1">Care Service Group:</label>
                <div class="col-sm-5">
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option selected="" disabled="">Select your group</option>
                        <option>Base Care Control Care Group</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn iq-bg-danger">cancel</button>
            </div>
        </form>
    </div>
</div>