<div class="row">

    <div class="col-sm-12 col-lg-6">
        <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                    <h6 class="card-title">List of Active Service Users:</h6>
                </div>
            </div>
            <div class="iq-card-body">
                <div class="form-group row">
                    <select multiple="" class="form-control" id="exampleFormControlSelect2" style="height:300px">
                        <option>User-1</option>
                        <option>User-2</option>
                        <option>User-3</option>
                        <option>User-4</option>
                        <option>User-5</option>
                        <option>User-6</option>
                        <option>User-7</option>
                        <option>User-8</option>
                        <option>User-1</option>
                        <option>User-2</option>
                        <option>User-3</option>
                        <option>User-4</option>
                        <option>User-5</option>
                        <option>User-6</option>
                        <option>User-7</option>
                        <option>User-8</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-lg-6">
        <div class="iq-card">
            <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                    @*<h4 class="card-title">Add Service User</h4>*@
                </div>
            </div>
            <div class="iq-card-body">
                <form class="form-horizontal" action="https://iqonic.design/action_page.php">
                    <div class="form-group row">
                        <label class="control-label col-sm-3 align-self-center mb-0" for="exampleInputdate">Date of Leaving:</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="exampleInputdate" value="2019-12-18">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3 align-self-center mb-0" for="exampleFormControlTextarea1">Reason for Leaving:</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="submit" class="btn iq-bg-danger">cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

